// *************************************
//
//   Basic layout
//   基本排版設定
//
// *************************************

// centering Bootstrap modal
#confirmationDialog .modal-dialog
  position: absolute
  top: 50%
  left: 50%
  +transform(translate(-50%, -100%))

%m0auto
  margin: 0 auto
