// *************************************
//
//   Variables declarations
//
//
// *************************************



////////////////////////////////////////
// -------------------------------------
//   Layout
// -------------------------------------
////////////////////////////////////////

// ----- Susy setting ----- //
$susy: (columns: 12, gutters: 0, math: fluid, output: float, gutter-position: inside)
+border-box-sizing

// ----- Breakpoint setting ----- //
// prefix "b" for breakpoint
$b-mobile : 600px
$b-pad    : 960px
$b-desktop: 1280px
$b-large : 1366px

// ----- container setting ----- //
// prefix "w" for width
$w-mobile : 320px
$w-pad    : 768px
$w-desktop: 960px
$w-large  : 1280px
$w-xlarge : 1680px

// ----- z-index manage ----- //
$elements: footer, header,

@import partials/color

////////////////////////////////////////
// -------------------------------------
//   Color & Textures
// -------------------------------------
////////////////////////////////////////

// ----- color swatches ----- //
$cs-1: #827442
$cs-2: #788e42
$cs-3: #959947
$cs-4: #997347
$cs-5: #8e5842


// buttons color
$btn-primary  : #00a1cb
$btn-action   : #7db500
$btn-highlight: #f18d05
$btn-danger   : #e54028
$btn-royal    : #87318c

// ===== textures ----- //



// 拍立得效果邊框尺寸
$polaroid: 10px

////////////////////////////////////////
// -------------------------------------
//   Pages
// -------------------------------------
////////////////////////////////////////



////////////////////////////////////////
// -------------------------------------
//   helper
// -------------------------------------
////////////////////////////////////////

$blur: 6px
